@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Dynalight&display=swap');

body{
    background-image: url(white.jpg);
    background-size: 100vh;
}

/* Container */
.container{
    text-align: center;
}

.container h1{
    font-family: Dynalight;
    font-size: 40px;
    font-weight: 400;
}
.container h3{
    font-family: Chivo;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 48px;
}
